version: '3.8'

services:
  backend:
    build:
      context: ./service
      dockerfile: Dockerfile
    container_name: chain-game-backend
    ports:
      - "3000:3000"
    restart: unless-stopped
    networks:
      - chain-game-network

  frontend:
    build:
      context: ./ui
      dockerfile: Dockerfile
    container_name: chain-game-frontend
    ports:
      - "80:80"
    depends_on:
      - backend
    restart: unless-stopped
    networks:
      - chain-game-network

networks:
  chain-game-network:
    driver: bridge





